.mat-toolbar {
  background-color: #57CC99;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000; 
  width: 100%;
  justify-content: space-evenly;
  border-bottom: solid 1px grey;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
  cursor: pointer;
  text-decoration: underline grey;
}

//mobile
@media only screen and (max-width: 803px) {
  a {
    font-size: 0.85em;
  }
}

//desktop
@media only screen and (min-width: 803px) {
  a {
    font-size: 1.3em;
  }
}