.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  border-bottom: solid 1px grey;
  background-color: #34a0a4;
  justify-content: end;

  a {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
  }

  a:hover {
    color: #d6d2d2;
    cursor: pointer;
  }
}

//mobile
@media only screen and (max-width: 803px) {
  .mat-toolbar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  a {
    font-size: 0.75em;
  }
}
