.mat-toolbar {
  background-color: #34a0a4;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000; 
  width: 100%;
  justify-content: end;
  border-bottom: solid 1px grey;
}

a {
  text-decoration: none;
  color: white;
  margin: 0px 20px;
}

a:hover {
  color: #d6d2d2;
  cursor: pointer;
}

//mobile
@media only screen and (max-width: 803px) {
  a {
    font-size: 0.85em;
  }
}

//desktop
@media only screen and (min-width: 803px) {
  a {
    font-size: 1.3em;
  }
}