// // 610 max
// //340 min

.main-container {
  text-align: center;
  margin: auto;
  font-size: 14px;
}

.intro {
  position: relative;
  text-align: center;
  margin: auto;
  color: black;
  background: url('../../assets/laptop2.jpg');
  height: 650px;
  background-size: auto;
  background-position-x: 65%;
  background-position-y: 55%;
  font-family: Garamond, Arial, Helvetica, sans-serif;
  .intro-text-container {
    display: flex;
    color: white;
    .column-one {
      padding: 100px 3rem;
      max-width: 50%;
      background-color: rgba(0,0,0,0.5);
      .name {
        font-size: 40px;
        line-height: 40px;
        p::after {
          z-index: 999;
        }
      }
      .subtitle {
        font-size: 30px;
        line-height: 30px;
      }
      .blurb {
        font-size: 25px;
        line-height: 25px;
      }
    }
  }

  button {
    margin: auto;
    border: none;
    background-color: #c7f9cc;
    align-items: left;
    font-size: 0.5em;
    font-weight: 600;
  }
  button:hover {
    color: grey;
    cursor: pointer;
    text-decoration: underline grey;
  }

}

.skills {
  padding: 90px 0;
  h1 {
    text-align: center;
    font-size: 3em;
    text-decoration: underline grey;
  }
  ul {
      padding: 0;
  }

  li {
    display: inline;
    text-align: center;
    font-size: 3.1em;
    text-align: center;
  }

  li img {
    height: 2.5em;
  }
  #toggleSkills {
    margin: auto;
    padding: 0; 
    width: 100%;
    border: none;
    background-color: white;
    font-size: 1.5em;
    align-items: center;
    font-weight: 600;
  }
  #toggleSkills:hover {
    color: grey;
    cursor: pointer;
    text-decoration: underline;
  }
}

.project-section {
  h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 20px;
    margin: 0;
    background-color: #577590;
    text-decoration: underline;
    padding: 60px 0px;
  }
  .portfolio {
    background-color: #577590;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 50px;
    .project {
      flex-direction: column;
      max-width: 27%;
      margin: 0px 1.5%;
      line-height: 30px;
    }
    mat-card-header {
      padding: 10px 0px 15px 0px;
      justify-content: center;
    }
    a {
      font-size: 28px;
      text-decoration: none;
      color: black;
      line-height:35px;
    }
    a:hover {
      color: grey;
      cursor: pointer;
      text-decoration: underline grey;
    }
    p {
      font-size: 22px;
    }
  }
  
}

.contact {
  margin: auto;
  text-align: center;
  padding: 100px 0px;
  h1 {
    text-align: center;
    font-size: 3em;
    text-decoration: underline grey;
  }
  a {
    margin: 0px 7px;
    text-decoration: none;
    color: black;
  }

  a:hover,
  fa-icon:hover {
    color: grey;
    cursor: pointer;
  }

  fa-icon {
    font-size: 60px;
    margin: 0px 5px;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

//mobile
@media only screen and (max-width: 803px) {
  .flex-projects {
    display: block;
  }
  .headshot {
    width: 100%;
  }

  .intro {
    display: block;
    .intro-text {
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    ul {
      padding: 0px;
    }
    img {
      margin: 0px 5%;
      width: 40%;
    }
    li {
      margin: 0px;
    }
    .full-size {
      width: 90%;
    }
  }
}

//desktop
@media only screen and (min-width: 803px) {
  .flex-projects {
    display: flex;
    flex-direction: row;
  }

  .intro {
    display: flex;
    flex-direction: row;
    .intro-text {
      width: 100%;
      text-align: left;
      padding-left: 20px;
    }
  }
  .skills {
    margin: 0px 3em;
    li img {
      height: 2.5em;
    }
    li {
      margin: 0px 15px;
    }
  }
}
