.main-container {
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.intro {
    background-color: #C7F9CC;
    display: flex;
    flex-direction: row;
    .intro-text {
        font-size: 3.2em;
        text-align: center;
        font-family: Garamond, Arial, Helvetica, sans-serif;
    }

    .blurb {
        font-size: 0.4em;
        margin: auto;
    }

    .flex-grow {
        flex-grow: 3;
    }
    
    .headshot {
        height: 250px;
        border-radius: 50%;
        display: block;
        margin: auto;
        flex-grow: 1;
        border: 4px solid grey;
    }
}

.skills {
    margin: 0px 3em;
    h1 {
        text-align: center;
        font-size: 3em;
        text-decoration: underline grey;
    }
    li {
        display: inline;
        margin: 0px 15px;
        text-align: center;
        font-size: 3.1em;
        text-align: center;
    }

    li img {
        height: 2.5em;
    }
}

.portfolio {
    background-color: #38A3A5;
}