<div class="main-container">
  <app-web-nav></app-web-nav>
  <mat-card class="intro" id="intro">
    <img class="headshot" src="../../assets/DSC09267 (2).JPG" alt="Headshot" />
    <div class="flex-grow">
      <div class="intro-text">
        <p>Hello! My name is MacKayla.</p>
        <p>I'm a Web Developer in Utah.</p>
        <p class="blurb">
          I'm currently working two externships. One as a Project Manager and
          one as a Full Stack Intern. Once I finish my 240 externship hours, I
          will graduate from MTECH. I plan to attend UVU in the fall to work
          towards a Computer Science degree.
        </p>
      </div>
    </div>
  </mat-card>
  <mat-card class="skills" id="skills">
    <h1>SKILLS</h1>
    <ul>
      <li matTooltip="HTML">
        <img src="../../assets/html.png" alt="HTML Logo" />
      </li>
      <li matTooltip="JavaScript">
        <img src="../../assets/js.jpg" alt="JavaScript Logo" />
      </li>
      <li matTooltip="CSS">
        <img src="../../assets/css.png" alt="CSS Logo" />
      </li>
      <li matTooltip="Sass">
        <img src="../../assets/sass.png" alt="SASS Logo" />
      </li>
      <li matTooltip="Bootstrap">
        <img src="../../assets/bootstrap.png" alt="Bootstrap Logo" />
      </li>
      <li matTooltip="Pug">
        <img src="../../assets/pug.Default" alt="Pug Logo" />
      </li>
      <li matTooltip="Angular">
        <img src="../../assets/angular.png" alt="Angular Logo" />
      </li>
      <li matTooltip="Angular Material">
        <img src="../../assets/material.png" alt="Material Logo" />
      </li>
      <li matTooltip="Ionic">
        <img src="../../assets/ionic.png" alt="Ionic Logo" />
      </li>
      <li matTooltip="React">
        <img src="../../assets/react.png" alt="React Logo" />
      </li>
      <li matTooltip="Redux">
        <img src="../../assets/redux.png" alt="Redux Logo" />
      </li>
      <li matTooltip="Node & Node JS">
        <img src="../../assets/node.png" alt="Node Logo" />
      </li>
      <li matTooltip="SQL">
        <img src="../../assets/sql.png" alt="SQL Database" />
      </li>
      <li matTooltip="Postgres">
        <img src="../../assets/postgres.png" alt="Postgres Icon" />
      </li>
      <li matTooltip="Firebase">
        <img src="../../assets/firebase.png" alt="Firebase Icon" />
      </li>
      <li matTooltip="MongoDB">
        <img
          src="../../assets/MongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png"
          alt="MongoDB Icon"
        />
      </li>
      <li matTooltip="Karma">
        <img src="../../assets/karma.png" alt="Karma Icon" />
      </li>
      <li matTooltip="AWS Cloud Practitioner Graduate">
        <img
          src="../../assets/aws-academy-graduate-aws-academy-cloud-foundations (2).png"
          alt="AWS Graduate Badge"
        />
      </li>
      <li matTooltip="Jasmine">
        <img
          src="../../assets/jasmine-purple-horizontal.svg"
          alt="Jasmine Icon"
        />
      </li>
    </ul>
  </mat-card>
  <mat-card class="portfolio" id="portfolio">
    Portfolio
    <p>Projects</p>
    <button>Lesser Pokémon Pokédex</button>
    <button>Group Project: Trivia Extraordinaire</button>
    <button>Angular Firebase Golf Scorecard</button>
  </mat-card>
  <div class="contact" id="contact">Contact</div>
</div>
